@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  
  font-family: 'Libre Baskerville', serif;
  line-height: 1.5;
  font-weight: 400;

  /* Only light mode */
  color-scheme: light;
  color: #202d26;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Optional: remove media query if you're not supporting dark mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #202d26;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
